{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class=header>
        <div class="title">
            <img src="{% static 'img/title.png' %}" alt="">
        </div>
    </div>
    
    <div class="main">
        <div class="sub-title">
            <p>세 가지의 메뉴를 통해 시네마 봇의 추천을 받아 보세요!</p>
        </div>
        <div class="go-chat-button">
            <a> 
                <div class="button-img">
                    <img src="{% static 'img/go_chat_button.png' %}" alt="">
                </div>
                <div class="button-text">
                    <p>자유롭게 작품 요청하기</p>
                </div>
            </a>
        </div>
        <div class="go-chat-button">
            <a>
                <div class="button-img">
                    <img src="{% static 'img/go_chat_button.png' %}" alt="">
                </div>
                <div class="button-text">
                    <p>설문으로 취향 찾기</p>
                </div>
            </a>
        </div>
        <div class="go-chat-button">
            <a href="{% url 'suggest-button' %}">
                <div class="button-img">
                    <img src="{% static 'img/go_chat_button.png' %}" alt="">
                </div>
                <div class="button-text">
                    <p>지금 바로 추천받기</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="footer">
        <div class="center-container">
            <!-- <button class="image-button" data-toggle="tooltip" data-placement="bottom" title="팀원소개&#10;김지성:추천, 모델링, EDA, 데이터수집&#10;노재승:추천, EDA, 전처리&#10;강예림:모델링, 프론트, 데이터수집&#10;이주현:데이터수집, 프론트, 백 ,DB, UI&#10;윤영주:데이터수집, 하청업체(여러일)">
                <img src="{% static 'img/person circle.png' %}" alt="">
            </button> -->
            <button type="button" class="btn btn-primary transparent-btn" data-toggle="modal" data-target="#exampleModalName">
                <img src="{% static 'img/person circle.png' %}" alt="">
            </button>
            <!-- <button class="image-button" data-toggle="tooltip" data-placement="bottom" title="사용방법">
                <img src="{% static 'img/question mark.png' %}" alt="">
            </button> -->
            <button type="button" class="btn btn-primary transparent-btn" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="{% static 'img/question mark.png' %}" alt="">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">사용방법</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a>설문으로 취향찾기</a>
                            <br>
                            <h6>1. MBTI를 선택 해주세요.</h6>
                            <h6>2. 질문개수를 선택 해주세요.</h6>
                            <h6>3. 설문(개수만큼) 응답 해주세요.</h6>
                            <h6>4. 추천 결과 확인 후 별점주세요.(🙏슥삭슥삭🙏)</h6>
                            <br>
                            <a>지금 바로 추천받기</a>
                            <br>
                            <h6>1. MBTI 선택 해주세요.</h6>
                            <h6>2. 추천 결과 확인 후 별점주세요.(🙏슥삭슥삭🙏)</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalName" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">사용방법</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a>팀원소개</a>
                            <br>
                            <h6>@. 김지성:추천, 모델링, EDA, 데이터수집</h6>
                            <h6>@. 노재승:추천, EDA, 전처리</h6>
                            <h6>@. 강예림:모델링, 프론트, 데이터수집</h6>
                            <h6>@. 이주현:데이터수집, 프론트, 백 ,DB, UI</h6>
                            <h6>@. 윤영주:데이터수집, 하청업체(여러일)</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
        function buttonClicked() {
            // 버튼 클릭 이벤트에 대한 동작을 추가할 수 있습니다.
        }
    </script>
</body>
</html>