@import url('reset.css');

/* background style */
body {
    background-color: #141414;
    background-image: url("../img/home_background.png");
    background-repeat: no-repeat;
        /* 이미지를 바둑판처럼 반복하지 말라는 뜻 */
    background-position: center;
    background-size: cover;
        /* w:h 비율을 유지하고, 컨테이너의 크기를 초과하면 이미지의 일부만 표시 */
    height: 100vh;
    font-family: NeoDunggeunmo Pro;
}

.header {
    /*margin-top: 10vh;*/
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 15%;
    padding-right: 15%;
}
/* title style */
.title {
    vertical-align: middle;
    /*padding-top: 10%;*/
    /*margin: 4vh auto;*/
    width: 100% ;
    max-height: 10vh ;
}
.title img {
    max-width: 100%;
    max-height: 20vh;
    object-fit: contain;
    margin: auto;
    display: block;

}


.main {
    /*margin-top: 5vw;*/
    margin-bottom: 15vh;
}

/* sub-title style */
.sub-title {
    width: 80vw;
    color: #9f9f9f;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 400;
    /*white-space: nowrap; 자동으로 엔터 안 되도록 */
    font-size: clamp(0.1vh, 2.5vh, 3vh);
    text-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 255, 255, 0.25);
}

/* go chat button */
.go-chat-button {
    width: 60vw;
    position: static;
    max-width: 400px;
    max-height: 8vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* margin-left:auto; */
    /* margin-right: auto; */
    /* padding: 1vh; */
}

.go-chat-button img {
    width: 100%;
    margin-block-end: 2vh;
    /* vertical-align: middle; */
}

.button-text {
    display: block;
    position: relative;
    top: -7.5vh;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5em, 5.5vw, 2em);
    text-align: center;
    text-shadow: 0.4vw 0.4vw 0.2vw rgba(0, 0, 0, 0.25);
    color: #EEE;
    font-weight: 400;
    white-space: nowrap; /* 자동으로 엔터 안 되도록 */
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.image-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10vh; /* 테두리를 둥글게 만듭니다 */
}
.image-button img {
    display: block;
}
.center-container {
    display: flex;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    /* height: 100vh; 수직 가운데 정렬을 위한 적절한 높이 설정 */
}

/* Style for transparent buttons */
.transparent-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}