.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev,
.carousel-inner .carousel-item.active {
    display: flex;
}

.carousel-item.active {
    /* gap: 5vw; */
    align-items: center;
    margin: 0 auto;
}

​ .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(33.333%);
}

​ .carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-next {
    transform: translateX(-33.333%);
}

​ .multi-item-carousel {
    .carousel-inner {
        >.item {
            transition: 500ms ease-in-out left;
        }

        ​ .active {
            &.left {
                left: -33.333%;
            }

            ​ &.right {
                left: 33.333%;
            }
        }

        ​ .next {
            left: 33.333%;
        }

        ​ .prev {
            left: -33.333%;
        }

        ​ @media all and (transform-3d),
        (-webkit-transform-3d) {
            >.item {
                transition: 500ms ease-in-out left;
                transition: 500ms ease-in-out all;
                backface-visibility: visible;
                transform: none !important;
            }
        }
    }

    ​ .carousel-control {

        ​ &.left,
        &.right {
            background-image: none;
        }
    }
}

​

/* non-related styling: */
body {
    background-color: #141414;
    /* background: #333;
    color: #333; */
}

​ h1 {
    color: #333;
    font-size: 2.25em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

​ .container {
    background: #333;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30vw;
}

​ .centered {
    text-align: center;
    font-size: 18vw;
}

​ .carousel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20vw;
}

​

/* .carousel-text {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.carousel-text {
    flex: 1;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    background-color: #FFB91F;
    border: 0.5vh solid #E17A2C;
    border-radius: 1.5vh;
    /* justify-content: center; */
}

.carousel-text .small-text {
    overflow: auto;
}

​

/* @media screen and (max-width: 768px) {
    /* 필요에 따라 max-width 및 font-size 값을 조정합니다 */
/* .carousel-text {
        font-size: 14px; /* 화면 너비가 768px 이하일 때 폰트 크기를 줄입니다 */
​ .carousel-image {
    flex: 1;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

​ .carousel-caption {
    text-align: left;
}

​ ​ .carousel-outer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

​ .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
    max-width: 85%;
    /* 필요한 대로 백분율 값을 조정하세요 */
    margin: 0 auto;
    /* 요소를 컨테이너 내에서 가운데 정렬하기 위해 추가했습니다 */
}

​ .carousel-control-prev,
.carousel-control-next {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

​ .carousel-control-prev {
    left: 0;
}

​ .carousel-control-next {
    right: 0;
}

​ .carousel-indicators {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 20vw;
}

​

/* .find-btn {
    text-align: center;
}
.find-btn1 {
    display: inline-block;
    margin: 0 50vw;
} */
​ ​ .button-grid-a {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2vw;
    margin: 2vh;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    max-width: 70vw;
}

.button-a {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    background-color: #FFB91F;
    border: 0.5vh solid #E17A2C;
    border-radius: 1.5vh;
    cursor: pointer;
    font-family: NeoDunggeunmo Pro;
    font-weight: 400;
    font-size: clamp(1.2em, 1em, 2.5em);
    width: 14vw;
}